@import url('https://fonts.googleapis.com/css?family=Lobster');

/* Bootstrap Overides */
:root {
  --dark: #cf0b89;
  --bars: #c700ff;
  --body: #ff2eb5;
  --text: #ffffff; 
}

.bg-dark {
  background-color: var(--dark)!important;
}

.card {
  background-color: var(--dark);
  border: 1px solid white;
}

a {
  color: var(--text)!important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.progress-bar {
  background-color: var(--bars);
}

.btn-dark {
  color: var(--text);
  background-color: var(--bars);
  border-color: var(--bars);
}

.text-success {
  color: #a3ff92!important;
}

.text-danger {
  color: #ffc800!important;
}

body {
	margin: 0px;
  color: var(--text);
  background-color: var(--body);
}

.text-animation-container {
	filter: url(#threshold) blur(0.2px);
}

.text-animation1, .text-animation2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	
	font-family: 'Lobster', sans-serif;
	font-size: 80pt;
	
	text-align: center;
	
	user-select: none;
}

@media (max-width: 500px) {
  .text-animation1, .text-animation2 {
    font-size: 60pt;
  }
}


.drag-title {
  font-weight: 600;
  margin: 7px;
  padding: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.drag {
  user-select: none;
  outline: none;
  margin: 7px;
  padding: 10px;
  cursor: pointer !important;
  display: flex;
  justify-content: space-between;
}

.drag-item {
  background: var(--body);
  border-radius: 3px;
}

.drag-item-container {
  padding: 4px;
}

.drag-list {
  min-width: 280px;
  margin: 10px 5px;
  position: relative;
  background: var(--dark);
}

.ghost {
  opacity: .1;
  color: #000;
  background-color: #000;
}

.avatar {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  vertical-align: middle;
}
